<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>editor</title>
	<link rel="stylesheet" href="../static/editorpage.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>

<body>
	<nav class="ui attached segment m-padded-td-mini">
		<div class="ui container">
			<div class="ui menu">
				<h2 class="ui header item">NoteBlog</h2>
				<a href="/homepage" class="item"><i class="home icon"></i>homepage</a>
				<a href="" class="item"><i class="tags icon"></i>tags</a>
				<a href="" class="item"><i class="idea icon"></i>article</a>
				<a href="" class="item"><i class="info icon"></i>athor</a>
				<div class="right item">
					<div class="ui icon input">
						<input type="text" placeholder="search...">
						<i class="search link icon"></i>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<!--中间头部-->
	<div class="m-padded-tb-massive">
		<div class="ui container">
			<div class="ui grid">
				<div class="eleven wide column">


					<div class="ui top attached segment">
						<div class="ui middle aligned two column grid">
							<div class="column">
								<h3 class="ui teal header">Note</h3>
							</div>
							<div class="right aligned column">
								total of <h3 class="ui teal header m-inline-block">10</h3> articles
							</div>
						</div>
					</div>


					<div class="ui attached segment">
						<div class="ui segment">
							<div class="ui grid">
								<div class="ui eleven wide column">
									<h3 class="ui header">Java入門</h3>
									<p>プログラミング言語である Java を使ってこれからプログラミングを学習しようとする方を対象とした Java 入門です。 Java
										を使った開発を行うために必要となる JDK のインストール方法や、プログラムの作成と保存、そしてコンパイルと実行まで Java
										を使った開発手順について解説しています。

									</p>
									<div class="ui grid">
										<div class="eleven wide column">
											<div class="ui horizontal link list">
											<div class="item">
											</div>
											</div>
										</div>

										<div class="right aligned five wide column">
										<a href="#" target="_blank" class="ui teal label">Java</a>

										</div>
									</div>
								</div>


								<div class="five wide column">
									<a href:"#" target="blank">
										<img src="" class="ui rounded image">
									</a>

								</div>

							</div>
						</div>
					</div>


					<div class="ui bottom attached segment">
						<div class="ui middle aligned two column grid">
							<div class="column">
								<a href="#" class="ui mini teal basic button">front page</a>
							</div>
							<div class="right aligned column">
								<a href="#" class="ui mini teal basic button">next page</a>
							</div>
						</div>
					</div>

				</div>

			</div>
			<div class="five wide column">
				<div class="ui segment"></div>
			</div>
		</div>
	</div>
	</div>

	<footer class="ui vertical segment">

	</footer>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>

</html>