<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>  
    <link rel="stylesheet" href="/static/loginpage.css">
  </head>
  <body>
    <header>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>WELCOME TO MY NOTEBLOG.</h1>
        <h1>LET'S LEARN TO BE CREATIVE.</h1>
        <p>This is where I keep my notes for learning programming. </p>
        <p>If you are also interested in learning programming, hope this website can help you.</p>
        <div class="btn-wrapper">
          <a href="#" class="btn signup">for new register</a>
          <p>or sign up with</p>
          <a class="btn facebook">
            
            Facebook
          </a>
          <a class="btn twitter">
       
            Twitter
          </a>
        </div>
      </div>
    </div>
    <div class="lesson-wrapper">
    </div>
    <div class="message-wrapper">
    </div>
    <footer>
    </footer>
  </body>
</html>